{% include "module/header.html" %}
{% include "module/menu.html" %}
<div id="page-wrapper">
	<div class="row">
	  <div class="col-lg-12">
		<h1>Home <small>Overview</small></h1>
		<ol class="breadcrumb">
		  <li class="active"><i class="fa fa-desktop"></i> Home</li>
		</ol>
		<div class="alert alert-info alert-dismissable">
		  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		 	<h2 style="text-align: center;">Prediksi IPK Mahasiswa menggunakan Instrumen AMS (Academy Motivation Scale) dan Algoritma Backpropagation.</h2>
			<br><h4 style="text-align:center;">Detrya Purma -- 15.11.9296</h4><br>
		  <br/>

		</div>
		<pre>

7 Atribut pertanyaan, dengan 5 opsi :
	1. STS	= Sangat Tidak Setuju
	2. TS   = Tidak Setuju
	3. N	= Netral 
	4. SS	= Sangat Setuju
	5. S	= Setuju

	 1. Self Efficacy
	 2. Identification wit Academic
	 3. Intrinsic Motivation
	 4. Extrinsic Motivation
	 5. Amotivation
	 6. Meaningful Cognitive Engagement
	 7. Shallow Cognitive Engagement

Internal Risks
1. <b>Self efficacy</b>
	Keyakinan seseorang mengenai kemampuan yang dimiliki oleh dirinya dalam menyelesaikan suatu permasalahan. <br>

2. <b>Identification with Academic</b>
	Didefinisikan sebagai sejauh mana seorang mahasiswa peduli dan memperhatikan pentingnya seorang mahasiswa peduli dan
	memperhatikan pentingnya pendidikan untuk diri mereka. <br>

3. <b>Intrinsic motivation</b>
	Didefinisikan sebagai motivasi yang berasal dari diri sendiri dalam mengikuti dan mengerjakan tugas-tugas
	akademis dengan tujuan untuk mendapatkan kepuasan. <br>

4. <b>Extrinsic motivation</b>
	Didefinisikan sebagai motivasi yang berasal dari luar iri sendiri misalnya karena ingin mendapatkan	penghargaan
	dan imbalan. <br>

5. <b>Amotivation</b>
	Adalah perasaaan pesimis dan ketidakpedulian akan hasil suatu pekerjaan. <br>

6. <b>Meaningful cognitive engagement</b>
	Diartikan sebagai kemampuan seorang mahasiswa untuk menggunakan suatu cara atau strategi dalam mencapai
	hasil belajar yang optimal.	<br>

7. <b>Shallow cognitive engagement</b>
	Diartikan sebagai kemampuan seseorang dalam menghafal dan mencatat hal-hal kecil yang dapat meningkatkan prestasi
	belajar mahasiswa. <br>
	
		  </pre>
	  </div>
	</div><!-- /.row -->
</div><!-- /#page-wrapper -->

{% include "module/footer.html" %}
