<!-- {% include "module/header.html" %}
{% include "module/menu.html" %}
<div id="page-wrapper">

      <div class="row">
        <div class="col-md-4">

<form class="" action="" method="post">

    <label for="">masukan nama</label><br>
    <input type="text" name="nama" value=""><br>
    <label for="">masukkan nim</label><br>
    <input type="text" name="nim" value=""><br>
    <input type="submit" name="submit" value="submit">

</form>
</div>
</div>
</div>


{% include "module/footer.html"%} -->
