{% include "module/header.html" %}
{% include "module/menu.html" %}
   

        <div id="page-wrapper">
             <div class="row">
                
                <div class="col-lg-12">

                        <form class="form-horizontal" action="#"   name="upload_excel" enctype="multipart/form-data" method="post">
                                 <div class="panel panel-info" style="margin-top:10px">
                                 <div class="panel panel-heading">Upload File Prediksi</div>
                                 <div class="panel panel-body"  style="padding-bottom: 20px;padding-top: 0px;padding-right: 20px">
                


                                <!-- Form Name -->
                               <!-- <legend>Upload File Prediksi</legend>

                                <!-- File Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="filebutton">Select File prediksi</label>
                                    <div class="col-md-4">
                                        <input type="file" name="fileprediksi"  class="input-large">
                                    </div>
                                </div>

                                <!-- Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="singlebutton">Import data training</label>
                                    <div class="col-md-4">
                                        <button type="submit" id="submit" class="btn btn-primary button-loading"  name="upload_prediksi" value="Import"data-loading-text="Loading...">Import</button>
                                    </div>
                                </div>
                            </div> <!--end panel-body-->
                            </div> <!--end panel-info-->

                        </form>
                    </div><!--end col-lg-6-->
                
                </div> <!--end row-->

            <div class="panel panel-info">
                <div class="panel panel-heading">Prediksi</div>
                <div class="panel panel-body"  style="padding-left: 20px;padding-top: 0px;padding-right: 20px">
                     
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-horizontal" action="#"   name="upload_excel" enctype="multipart/form-data" method="post" >
                   


                        <!-- pertanyaan 1-->
                      <!-- pertanyaan 1-->
                <div class="form-group" style="border: 5px #0cf solid; padding: 2px">
                   <div class="row">
                     <div class="col-md-12">
                       <b>1. -Self-Efficacy-</b><br>
                        <br>Saya yakin saya bisa belajar dan menerapkan ide-ide dan keterampilan seperti yang diajarkan di kelas.
                    </div>
                   </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            
                            <input type="radio" name="x1"  class="input-large" value="1">
                            <span>1. Sangat Tidak Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x1"  class="input-large" value="2">
                            <span>2. Tidak Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x1"  class="input-large" value="3">
                            <span>3. Netral &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x1"  class="input-large" value="4">
                            <span>4. Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x1"  class="input-large" value="5">
                            <span>5. Sangat Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                        </div>
                    </div>
                </div>


                 <!-- pertanyaan 2-->
                <div class="form-group" style="border: 5px #0cf solid; padding: 2px">
                   <div class="row">
                     <div class="col-md-12">
                       <b>2. -Identification with academics-</b>
                        <br>Sekolah merupakan sesuatu yang sangat penting bagi kehidupan saya.
                    </div>
                   </div>
                    
                    <div class="row">
                        <div class="col-md-12"><br>

                            <input type="radio" name="x2"  class="input-large" value="1">
                            <span>1. Sangat Tidak Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x2"  class="input-large" value="2">
                            <span>2. Tidak Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x2"  class="input-large" value="3">
                            <span>3. Netral &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x2"  class="input-large" value="4">
                            <span>4. Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x2"  class="input-large" value="5">
                            <span>5. Sangat Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                        </div>
                    </div>
                </div>



                 <!-- pertanyaan 3-->
                <div class="form-group" style="border: 5px #0cf solid; padding: 2px">
                   <div class="row">
                     <div class="col-md-12">
                       <b>3. -Intrinsic motivation-</b><br>
                        <br>Membaca dan mempelajari pengetahuan baru di kampus merupakan sesuatu yang menyenangkan untuk saya.
                   </div>
                   </div>
                    
                    <div class="row">
                        <div class="col-md-12">

                            <input type="radio" name="x3"  class="input-large" value="1">
                            <span>1. Sangat Tidak Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x3"  class="input-large" value="2">
                            <span>2. Tidak Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x3"  class="input-large" value="3">
                            <span>3. Netral &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x3"  class="input-large" value="4">
                            <span>4. Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x3"  class="input-large" value="5">
                            <span>5. Sangat Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                        </div>
                    </div>
                </div>



                  <!-- pertanyaan 4-->
                <div class="form-group" style="border: 5px #0cf solid; padding: 2px">
                   <div class="row">
                     <div class="col-md-12">
                       <b>4. -Extrinsic motivation-</b><br>
                        <br>Tujuan saya kuliah adalah untuk mendapatkan pekerjaan yang baik dan bergaji besar.
                   </div>
                  </div>
                    
                    <div class="row">
                        <div class="col-md-12">

                            <input type="radio" name="x4"  class="input-large" value="1">
                            <span>1. Sangat Tidak Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x4"  class="input-large" value="2">
                            <span>2. Tidak Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x4"  class="input-large" value="3">
                            <span>3. Netral &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x4"  class="input-large" value="4">
                            <span>4. Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x4"  class="input-large" value="5">
                            <span>5. Sangat Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                        </div>
                    </div>
                </div>



                   <!-- pertanyaan 5-->
                <div class="form-group" style="border: 5px #0cf solid; padding: 2px">
                   <div class="row">
                     <div class="col-md-12">
                       <b>5. -Amotivation-</b><br>
                        <br>Saya merasa belajar di kampus tidak menambah pengetahuan dan keterampilan baru.
                   </div>
               </div>
                    
                    <div class="row">
                        <div class="col-md-12">

                            <input type="radio" name="x5"  class="input-large" value="1">
                            <span>1. Sangat Tidak Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x5"  class="input-large" value="2">
                            <span>2. Tidak Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x5"  class="input-large" value="3">
                            <span>3. Netral &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x5"  class="input-large" value="4">
                            <span>4. Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x5"  class="input-large" value="5">
                            <span>5. Sangat Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                        </div>
                    </div>
                </div>

                  <!-- pertanyaan 6-->
                <div class="form-group" style="border: 5px #0cf solid; padding: 2px">
                   <div class="row">
                     <div class="col-md-12">
                        <b>6. -Meaningful cognitive engagement-</b><br>
                        <br>Ketika kuliah saya selalu membawa buku, slide yang berisi materi kuliah dan mencatat materi-materi yang belum saya pahami ketika mengikuti perkuliahan.
                   </div>
               </div>
                    
                    <div class="row">
                        <div class="col-md-12">

                            <input type="radio" name="x6"  class="input-large" value="1">
                            <span>1. Sangat Tidak Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x6"  class="input-large" value="2">
                            <span>2. Tidak Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x6"  class="input-large" value="3">
                            <span>3. Netral &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x6"  class="input-large" value="4">
                            <span>4. Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x6"  class="input-large" value="5">
                            <span>5. Sangat Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                        </div>
                    </div>
                </div>


                  <!-- pertanyaan 7-->
                <div class="form-group" style="border: 5px #0cf solid; padding: 2px">
                   <div class="row">
                     <div class="col-md-12">
                       <b>7. -Shallow cognitive engagement-</b><br>
                        <br>Saya selalu berusaha untuk mengingat dan mereview kembali materi-materi yang didapat di kelas.
                   </div>
               </div>
                    
                    <div class="row">
                        <div class="col-md-12">

                            <input type="radio" name="x7"  class="input-large" value="1">
                            <span>1. Sangat Tidak Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x7"  class="input-large" value="2">
                            <span>2. Tidak Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x7"  class="input-large" value="3">
                            <span>3. Netral &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x7"  class="input-large" value="4">
                            <span>4. Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="radio" name="x7"  class="input-large" value="5">
                            <span>5. Sangat Setuju &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                        </div>
                    </div>
                </div>




                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="singlebutton">prediksi data</label>
                            <div class="col-md-4">
                                <button type="submit" id="submit" class="btn btn-primary button-loading"  name="prediksi" value="prediksi"data-loading-text="Loading...">prediksi</button>
                            </div>
                        </div>


                </form>
                </div> <!--end col-lg-12-->
               </div> <!--end row-->
              </div> <!--end panel-body-->
        </div><!--end panel-info-->
    </div><!--end wrapper-->

   
{% include "module/footer.html" %}
